@model Booking

@{
    ViewData["Title"] = "Booking Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tour.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tour.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookingDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfParticipants)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfParticipants)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookingId" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>